services:
  api:
    build: ./app
    ports:
      - "5000:5000"
    environment:
      - FLASK_APP=app.py
    depends_on:
      - redis
      - mongo

  redis:
    image: redis:8.0-alpine
    ports:
      - "6379:6379"

  mongo:
    image: mongo:8
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
